#createAccount {
    height: 640px;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    top: 35px;
}

#registerLeftButton {
    background-color: #cadeed;
    border: none;
    border-radius: 25px;
    font-size: 15pt;
    color: white;
    width: 200px;
    height: 50px;
    margin-top: 20px;
}

#registerLeftButton:hover {
    background-color: #bfd7e9;
    cursor: pointer;
}

.registerInputDiv.invalid input {
    border: 1px solid red;
}

.photoInputDiv.invalid input {
    border: 1px solid red !important;
}

.registerPhotoInputDiv.invalid input {
    border: 1px solid red !important;
}