#firstrowRightSideScreen {
    display: flex;
    height: 35px;
}

#currentContactImg {
    margin-left: 10px;
    border-radius: 50%;
}

#colofrightside {
    text-align: center;
}

.appName {
    font-weight: bolder;
    background: linear-gradient(to right, rgb(231, 76, 248), rgb(85, 242, 171));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 4px;
    position: relative;
}

.contactNameP {
    font-weight: bolder;
    margin-left: 10px;
}

.deleteChatDiv,
.exitButtonDiv {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.deleteChatButton,
.exitButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    padding: 0;
}

.exitButton:hover {
    opacity: 50%;
}

.deleteChatButton:hover {
    opacity: 50%;
}

.custom-tooltip {
    --bs-tooltip-bg: rgba(255, 255, 255, 0.486);
    --bs-tooltip-color: rgb(84, 84, 84);
}