#leftButton {
  background-color: #cadeed;
  border: none;
  border-radius: 25px;
  font-size: 15pt;
  color: white;
  width: 200px;
  height: 50px;
  margin-top: 50px;
}

#leftButton:hover {
  background-color: #bfd7e9;
  cursor: pointer;
}

#rightButton {
  background-color: #cadeed;
  border-radius: 25px;
  font-size: 15pt;
  color: white;
  border: 2px solid white;
  width: 200px;
  height: 50px;
  margin-top: 25px;
}

#rightButton:hover {
  background-color: #bfd7e9;
  cursor: pointer;
}