#sendMessageBox {
    background-color: rgb(236, 236, 236);
    position: relative;
    bottom: 0;
}

#paperClipButton {
    border: none;
    cursor: pointer;
    float: left;
    background-color: transparent;
    margin-left: 0px !important;

}

#paperClipButton:hover {
    opacity: 70%;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: none !important;
    --bs-dropdown-link-hover-bg: none !important;
    padding: 0;
}

#allOptions {
    background: none;
    border: none;
    --bs-dropdown-min-width: none;
}

.addToChatImg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.addToChatImg:hover {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    
}


#takePhotoButton {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#takePhotoButton:hover img {
    opacity: 70%;
}

#sendMessageInput {
    border: none;
    width: 100%;
    border-radius: 10px;
    background-color: white !important;
    padding: 7px !important;
}

input:focus {
    border: 0px !important;
}

#recordMessageButton {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.dropdown-item {
    padding-left: 5px;
}