.selectedPhoto {
    width: 75px;
    height: 50px;
    border-radius: 50%;
    flex-direction: row;
}

.photoInputDiv {
    margin-top: 20px !important;
    display: flex;
    flex-direction: row;
    margin-left: 29%;
}

.registerPhotoInputDiv {
    margin-top: 20px !important;
    display: flex;
    flex-direction: column;
    margin-left: 29%;
}

.inputPhoto-container {
    width: 42%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pictureInput {
    width: 100%;
    margin-right: 10px;
    text-align: left !important;
    height: 45px;
    background-color: #d8d6d6;
    border: none;
    padding: 10px !important;
    padding-left: 10px !important;
}

.inputTitlePhoto {
    font-weight: bolder;
    border: none;
    margin-bottom: 5px;
    align-self: flex-start;
    text-align: left;
}