.loginInputDiv {
  margin-top: 50px !important;
  margin-left: 30%;
}

.registerInputDiv {
  margin-top: 20px !important;
  display: flex;
  flex-direction: column;
  margin-left: 30%;
}

.input-container {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 100%;
  margin-right: 10px;
  text-align: left !important;
  height: 45px;
  background-color: #d8d6d6;
  border: none;
  padding: 10px !important;
  padding-left: 40px !important;
}

.password-icon {
  float: right;
}

.inputTitle {
  font-weight: bolder;
  border: none;
  margin-bottom: 5px;
  align-self: flex-start;
  text-align: left;
}

.hideorShowPasswordIcon {
  width: 25px !important;
  margin-left: -60px;
  cursor: pointer;
}

.inv:focus{
  border: 1px solid red !important;
}